<?xml version="1.0"?>
<config>
  <modules>
    <Agentom_Category>
      <version>0.1.0</version>
    </Agentom_Category>
  </modules>
  <global>
    <helpers>
      <category>
        <class>Agentom_Category_Helper</class>
      </category>
    </helpers>
	<models>
	  <category>
		<class>Agentom_Category_Model</class>
		<resourceModel>category_mysql4</resourceModel>
	  </category>
	</models>
	<resources>
	  <categoryattribute1481108222_setup>
		<setup>
		  <module>Agentom_Category</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1481108222_setup>
	  <categoryattribute1481108222_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1481108222_write>
	  <categoryattribute1481108222_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1481108222_read>
	</resources>
  </global>
</config> 