<?xml version="1.0"?>
<config>
    <modules>
        <AW_Advancednewsletter>
            <version>2.4.7</version><platform>ce</platform>
        </AW_Advancednewsletter>
    </modules>
    <frontend>
        <layout>
            <updates>
                <advancednewsletter module="AW_Advancednewsletter">
                    <file>advancednewsletter.xml</file>
                </advancednewsletter>
            </updates>
        </layout>
        <routers>
            <advancednewsletter>
                <use>standard</use>
                <args>
                    <module>AW_Advancednewsletter</module>
                    <frontName>advancednewsletter</frontName>
                </args>
            </advancednewsletter>
        </routers>
        <translate>
            <modules>
                <AW_Advancednewsletter>
                    <files>
                        <default>AW_Advancednewsletter.csv</default>
                    </files>
                </AW_Advancednewsletter>
            </modules>
        </translate>
        <secure_url>
            <advancednewsletter_manage>/advancednewsletter/manage/</advancednewsletter_manage>
        </secure_url>
    </frontend>

    <global>
        <blocks>
            <advancednewsletter>
                <class>AW_Advancednewsletter_Block</class>
            </advancednewsletter>
            <adminhtml>
                <rewrite>
                    <customer_edit_tab_newsletter>AW_Advancednewsletter_Block_Adminhtml_Customer_Edit_Tab_Newsletter</customer_edit_tab_newsletter>
                </rewrite>
            </adminhtml>
            <adminhtml>
                <rewrite>
                    <newsletter_template_preview>AW_Advancednewsletter_Block_Adminhtml_Template_Preview</newsletter_template_preview>
                </rewrite>
                <rewrite>
                    <page_menu>AW_Advancednewsletter_Block_Adminhtml_Page_Menu</page_menu>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <advancednewsletter>
                <class>AW_Advancednewsletter_Model</class>
                <resourceModel>advancednewsletter_mysql4</resourceModel>
            </advancednewsletter>
            <newsletter>
                <rewrite>
                    <observer>AW_Advancednewsletter_Model_Newsletterobserver</observer>
                </rewrite>
            </newsletter>
            <advancednewsletter_mysql4>
                <class>AW_Advancednewsletter_Model_Mysql4</class>
                <entities>
                    <subscriber>
                        <table>aw_advancednewsletter_subscriber</table>
                    </subscriber>
                    <segment>
                        <table>aw_advancednewsletter_segment</table>
                    </segment>
                    <smtp>
                        <table>aw_advancednewsletter_smtp</table>
                    </smtp>
                    <template>
                        <table>aw_advancednewsletter_template</table>
                    </template>
                    <automanagement>
                        <table>aw_advancednewsletter_automanagement</table>
                    </automanagement>
                    <queue>
                        <table>aw_advancednewsletter_queue</table>
                    </queue>
                    <queue_link>
                        <table>aw_advancednewsletter_queue_link</table>
                    </queue_link>
                    <queue_store_link>
                        <table>aw_advancednewsletter_queue_store_link</table>
                    </queue_store_link>
                    <cache>
                        <table>aw_advancednewsletter_cache</table>
                    </cache>
                    <stored_emails>
                        <table>aw_advancednewsletter_stored_emails</table>
                    </stored_emails>

                    <![CDATA[ Depricated tables ]]>
                    <smtpconfiguration>
                        <table>aw_advancednewsletter_smtp</table>
                    </smtpconfiguration>
                    <segmentsmanagment>
                        <table>aw_advancednewsletter_segment</table>
                    </segmentsmanagment>
                    <subscriptions>
                        <table>aw_advancednewsletter_subscriptions</table>
                    </subscriptions>
                    <templates>
                        <table>aw_advancednewsletter_templates</table>
                    </templates>
                    <![CDATA[ End depricated tables ]]>
                </entities>
            </advancednewsletter_mysql4>
        </models>
        <helpers>
            <advancednewsletter>
                <class>AW_Advancednewsletter_Helper</class>
            </advancednewsletter>
        </helpers>
        <resources>
            <advancednewsletter_setup>
                <setup>
                    <module>AW_Advancednewsletter</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advancednewsletter_setup>
            <advancednewsletter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advancednewsletter_write>
            <advancednewsletter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advancednewsletter_read>
        </resources>
        <events>
            <an_subscriber_subscribe>
                <observers>
                    <an_subscriber_subscribe_event>
                        <type>singleton</type>
                        <class>advancednewsletter/sync_factory</class>
                        <method>subscribe</method>
                    </an_subscriber_subscribe_event>
                </observers>
            </an_subscriber_subscribe>
            <an_subscriber_unsubscribe>
                <observers>
                    <an_subscriber_subscribe_event>
                        <type>singleton</type>
                        <class>advancednewsletter/sync_factory</class>
                        <method>unsubscribe</method>
                    </an_subscriber_subscribe_event>
                </observers>
            </an_subscriber_unsubscribe>
            <an_segment_delete>
                <observers>
                    <an_segment_delete_event>
                        <type>singleton</type>
                        <class>advancednewsletter/sync_factory</class>
                        <method>removeSegment</method>
                    </an_segment_delete_event>
                </observers>
            </an_segment_delete>
            <customer_save_after>
                <observers>
                    <an_subscribe_observer>
                        <type>singleton</type>
                        <class>advancednewsletter/observer</class>
                        <method>saveCustomer</method>
                    </an_subscribe_observer>
                </observers>
            </customer_save_after>
            <an_subscriber_force_write>
                <observers>
                    <an_subscriber_force_write_event>
                        <type>singleton</type>
                        <class>advancednewsletter/sync_factory</class>
                        <method>forceWrite</method>
                    </an_subscriber_force_write_event>
                </observers>
            </an_subscriber_force_write>
            <sales_order_save_after>
                <observers>
                    <customer_order_observer>
                        <type>singleton</type>
                        <class>advancednewsletter/observer</class>
                        <method>orderStatusChanged</method>
                    </customer_order_observer>
                </observers>
            </sales_order_save_after>
            <controller_action_predispatch_sagepaysuite>
                <observers>
                    <an_controller_action_predispatch_sagepaysuite_payment_onepageSaveOrder>
                        <type>singleton</type>
                        <class>advancednewsletter/observer</class>
                        <method>sagepaysuitePaymentOnepageSaveOrder</method>
                    </an_controller_action_predispatch_sagepaysuite_payment_onepageSaveOrder>
                </observers>
            </controller_action_predispatch_sagepaysuite>
        </events>
        <template>
            <email>
                <newsletter_subscription_confirm_email_template translate="label" module="advancednewsletter">
                    <label>Advancednewsletter subscriber activation</label>
                    <file>advancednewsletter_subscriber_activation.html</file>
                    <type>html</type>
                </newsletter_subscription_confirm_email_template>
                <newsletter_subscription_success_email_template translate="label" module="advancednewsletter">
                    <label>Advancednewsletter subscriber first subscription</label>
                    <file>advancednewsletter_subscriber_first_subscription.html</file>
                    <type>html</type>
                </newsletter_subscription_success_email_template>
                <newsletter_subscription_un_email_template translate="label" module="newsletter">
                    <label>Advancednewsletter unsubscription</label>
                    <file>advancednewsletter_subscriber_unsubscription.html</file>
                    <type>html</type>
                </newsletter_subscription_un_email_template>
            </email>
        </template>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <awadvancednewsletter after="Mage_Adminhtml">AW_Advancednewsletter_Adminhtml</awadvancednewsletter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <enterprise>
            <admingws>
                <collection_load_before>
                    <advancednewsletter__subscriber_collection>addStoreFilter</advancednewsletter__subscriber_collection>
                    <advancednewsletter__segment_collection>addStoreFilter</advancednewsletter__segment_collection>
                    <advancednewsletter__queue_collection>addStoreFilter</advancednewsletter__queue_collection>
                </collection_load_before>
            </admingws>
        </enterprise>
        <layout>
            <updates>
                <advancednewsletter>
                    <file>advancednewsletter.xml</file>
                </advancednewsletter>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Advancednewsletter>
                    <files>
                        <default>AW_Advancednewsletter.csv</default>
                    </files>
                </AW_Advancednewsletter>
            </modules>
        </translate>
        <menu>
            <advancednewsletter>
                <title>Advanced Newsletter</title>
                <sort_order>85</sort_order>
                <children>
                    <templates translate="title">
                        <title>Templates</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/awadvancednewsletter_template</action>
                    </templates>
                    <queue translate="title">
                        <title>Queue</title>
                        <sort_order>15</sort_order>
                        <action>adminhtml/awadvancednewsletter_queue</action>
                    </queue>
                    <subscribers>
                        <title>Subscribers</title>
                        <sort_order>20</sort_order>
                        <action>adminhtml/awadvancednewsletter_subscriber</action>
                    </subscribers>
                    <segmentsmanagment translate="title">
                        <title>Segments Management</title>
                        <sort_order>30</sort_order>
                        <action>adminhtml/awadvancednewsletter_segment</action>
                    </segmentsmanagment>
                    <smtpconfiguration translate="title">
                        <title>SMTP Configuration</title>
                        <sort_order>40</sort_order>
                        <action>adminhtml/awadvancednewsletter_smtp</action>
                    </smtpconfiguration>
                    <synchronization translate="title">
                        <title>Synchronization</title>
                        <sort_order>50</sort_order>
                        <action>adminhtml/awadvancednewsletter_synchronization</action>
                    </synchronization>
                    <automanagement translate="title">
                        <title>Auto-management rules</title>
                        <sort_order>55</sort_order>
                        <action>adminhtml/awadvancednewsletter_automanagement</action>
                    </automanagement>
                    <exportcustomers translate="title">
                        <title>Manage Customers</title>
                        <sort_order>65</sort_order>
                        <action>adminhtml/awadvancednewsletter_customer</action>
                    </exportcustomers>
                    <formconfiguration translate="title">
                        <title>Settings</title>
                        <sort_order>70</sort_order>
                        <action>adminhtml/system_config/edit/section/advancednewsletter</action>
                    </formconfiguration>
                </children>
            </advancednewsletter>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <advancednewsletter>
                                            <title>aheadWorks - Advanced Newsletter Configuration</title>
                                        </advancednewsletter>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <advancednewsletter>
                            <title>Advanced Newsletter</title>
                            <sort_order>90</sort_order>
                            <children>
                                <templates>
                                    <title>Templates</title>
                                    <sort_order>10</sort_order>
                                    <action>adminhtml/awadvancednewsletter_template</action>
                                </templates>
                                <queue>
                                    <title>Queue</title>
                                    <sort_order>15</sort_order>
                                    <action>adminhtml/awadvancednewsletter_queue</action>
                                </queue>
                                <subscribers>
                                    <title>Subscribers</title>
                                    <sort_order>20</sort_order>
                                    <action>adminhtml/awadvancednewsletter_subscriber</action>
                                </subscribers>
                                <segmentsmanagment>
                                    <title>Segments Management</title>
                                    <sort_order>30</sort_order>
                                    <action>adminhtml/awadvancednewsletter_segment</action>
                                </segmentsmanagment>
                                <smtpconfiguration>
                                    <title>SMTP Configuration</title>
                                    <sort_order>40</sort_order>
                                    <action>adminhtml/awadvancednewsletter_smtp</action>
                                </smtpconfiguration>
                                <synchronization>
                                    <title>Synchronization</title>
                                    <sort_order>50</sort_order>
                                    <action>adminhtml/awadvancednewsletter_synchronization</action>
                                </synchronization>
                                <automanagement>
                                    <title>Auto-management rules</title>
                                    <sort_order>55</sort_order>
                                    <action>adminhtml/awadvancednewsletter_automanagement</action>
                                </automanagement>
                                <exportcustomers>
                                    <title>Manage Customers</title>
                                    <sort_order>65</sort_order>
                                    <action>adminhtml/awadvancednewsletter_customer</action>
                                </exportcustomers>
                                <formconfiguration>
                                    <title>Settings</title>
                                    <sort_order>70</sort_order>
                                    <action>adminhtml/system_config/edit/section/advancednewsletter</action>
                                </formconfiguration>
                            </children>
                        </advancednewsletter>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <an_subscriber_delete>
                <observers>
                    <an_subscriber_delete_event>
                        <type>singleton</type>
                        <class>advancednewsletter/sync_factory</class>
                        <method>delete</method>
                    </an_subscriber_delete_event>
                </observers>
            </an_subscriber_delete>
        </events>
    </adminhtml>

    <crontab>
        <jobs>
            <advancednewsletter_send_all>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>advancednewsletter/cron::scheduledSend</model>
                </run>
            </advancednewsletter_send_all>
            <advancednewsletter_remove_old_stored_emails>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>advancednewsletter/cron::removeOldStoredEmails</model>
                </run>
            </advancednewsletter_remove_old_stored_emails>
            <aw_mailchimp_sync_from>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>advancednewsletter/cron::syncFromMailchimp</model>
                </run>
            </aw_mailchimp_sync_from>
            <aw_mailchimp_sync_to>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>advancednewsletter/cron::syncToMailchimp</model>
                </run>
            </aw_mailchimp_sync_to>
        </jobs>
    </crontab>

    <default>
        <advancednewsletter>
            <general>
                <send_subscription_success_notification>1</send_subscription_success_notification>
                <send_unsubscription_success_notification>1</send_unsubscription_success_notification>
                <stored_emails_lifetime>30</stored_emails_lifetime>
            </general>
            <formconfiguration>
                <formstyle>ajax-layer</formstyle>
                <segmentsstyle>select</segmentsstyle>
            </formconfiguration>
            <mailchimpconfig>
                <autosync>1</autosync>
                <xmlrpc>http://api.mailchimp.com/1.3/</xmlrpc>
            </mailchimpconfig>
        </advancednewsletter>
    </default>
    <points_actions>
        <an_customer_subscription>advancednewsletter/points_actions_customerSubscription</an_customer_subscription>
    </points_actions>
</config>