.clear{
    clear: both;
}

/** MENU CSS DESKTOP **/
.image-logo_menu{
    margin : auto;
}

.level-top.parent.level0{
    text-align : center;
    width : 196px;
}

.level-top.level1{
    text-align: left;
    display: block;
    float: left;
    text-align: left;
    width: 280px;
}

.groupmenu-drop-content{
    width: auto!important;
}

.groupmenu-drop{
    width: 1000px;
}

/** CATEGORY **/
.agentom-addtocart-list{
    cursor: pointer;
    float: right;
    margin: -64px 18px 0 0;
    width: 32px !important;
}

.availability.out-of-stock{
    float : right;
    margin : -50px 18px 0 0;
}

/** PRODUIT **/
.add-to-box{
    float : right;
    margin : -80px 0 0 0;
}

.agentom-float-left-product-details{
    width: 50%;
    float: left;
    padding-left: 15px;
}

.agentom-label{
    margin: 10px 10px 0 0;
    float: left;
}

.agentom-qty-cart{
    float: left;
}

.agentom-addtocart-button{
    float: left;
}

.agentom-input-text-qty, .decrease, .increase{
    border: none !important;
}

.agentom-addtocart-product{
    margin: 4px 0 0 0;
}

.agentom-cart-product-detail{
    width:auto !important;
    margin: 0 0 0 8px;
}

.agentom-percent-value{
    color : orange;
}

.agentom-product-name-h2 {
    color : #639537;
    text-transform: none;
}

.agentom-product-attr-h2-inner{
    font-size: 15px;
    color : #000000;
}