/** MENU CSS DESKTOP **/
.image-logo_menu{
    margin : auto;
}

.level-top.parent.level0{
    text-align : center;
    width : 196px;
}

.groupmenu-drop-content.groupmenu-1{
    text-align: left;
    width: auto;
}