.clear{
    clear: both;
}

/** MENU CSS DESKTOP **/
.image-logo_menu{
    margin : auto;
}

.level-top.parent.level0{
    text-align : center;
    width : 196px;
}

.level-top.level1{
    text-align: left;
    width: auto;
}

/** CATEGORY **/
.agentom-addtocart-list{
    cursor: pointer;
    float: right;
    margin: -64px 18px 0 0;
}

.availability.out-of-stock{
    float : right;
    margin : -50px 18px 0 0;
}

/** PRODUIT **/
.add-to-box{
    float : right;
    margin : -80px 0 0 0;
}

.agentom-float-left-product-details{
    width: 50%;
    float: left;
}

.agentom-label{
    margin: 10px 10px 0 0;
    float: left;
}

.agentom-qty-cart{
    float: left;
}

.agentom-addtocart-button{
    float: left;
}

.agentom-input-text-qty, .decrease, .increase{
    border: none !important;
}

.agentom-addtocart-product{
    margin: 4px 0 0 0;
}