<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<SDW_Catalog>
			<version>0.1.0</version>
		</SDW_Catalog>
	</modules>
	<frontend>
		<routers>
			<catalog>
				<args>
					<modules>
						<sdw_catalog before="Mage_Catalog">SDW_Catalog</sdw_catalog>
					</modules>
				</args>
			</catalog>
		</routers>
	</frontend>
</config>
