<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_Multisite>
			<version>2.1.1.2</version>
			<fishpig>
				<id/>
				<name>Multisite Integration</name>
				<url>http://fishpig.co.uk/magento/wordpress-integration/multisite/</url>
			</fishpig>
		</Fishpig_Wordpress_Addon_Multisite>
	</modules>
	<global>
		<blocks>
			<wp_addon_multisite>
				<class>Fishpig_Wordpress_Addon_Multisite_Block</class>			
			</wp_addon_multisite>
		</blocks>
		<helpers>
			<wp_addon_multisite>
				<class>Fishpig_Wordpress_Addon_Multisite_Helper</class>			
			</wp_addon_multisite>
			<wpmultisite>
				<class>Fishpig_Wordpress_Addon_Multisite_Helper</class>
			</wpmultisite>
		</helpers>
		<models>
			<wp_addon_multisite>
				<class>Fishpig_Wordpress_Addon_Multisite_Model</class>
			</wp_addon_multisite>
		</models>
	</global>
	<default>
		<wordpress>
			<mu>
				<enabled>1</enabled>
				<blog_id>1</blog_id>
			</mu>
		</wordpress>
	</default>
	<wordpress>
		<database>
			<before_connect>
				<tables_mu>
					<post_comment><table>comments</table></post_comment>
					<post_comment_meta><table>commentmeta</table></post_comment_meta>
					<link><table>links</table></link>
					<option><table>options</table></option>
					<post_meta><table>postmeta</table></post_meta>
					<post><table>posts</table></post>
					<term><table>terms</table></term>
					<term_relationship><table>term_relationships</table></term_relationship>
					<term_taxonomy><table>term_taxonomy</table></term_taxonomy>
				</tables_mu>
			</before_connect>
			<after_connect>
				<tables>
					<blogs><table>blogs</table></blogs>
					<blogs_versions><table>blogs_versions</table></blogs_versions>
					<site><table>site</table></site>
					<sitemeta><table>sitemeta</table></sitemeta>
				</tables>
			</after_connect>
		</database>
	</wordpress>
	<fishpig>
		<injection>
			<Fishpig_Inject_Wordpress_Block_System_Config_Form_Field_License>
				<Fishpig_Wordpress_Addon_Multisite>
					<Block_System_Config_Form_Field_License><ignore/></Block_System_Config_Form_Field_License>
				</Fishpig_Wordpress_Addon_Multisite>
			</Fishpig_Inject_Wordpress_Block_System_Config_Form_Field_License>
			<Fishpig_Inject_Wordpress_Helper_License>
				<Fishpig_Wordpress_Addon_Multisite>
					<Helper_License><ignore/></Helper_License>
				</Fishpig_Wordpress_Addon_Multisite>
			</Fishpig_Inject_Wordpress_Helper_License>
		</injection>
		<encode>
			<helper_data>app/code/community/Fishpig/Wordpress/Addon/Multisite/Helper/Data.php</helper_data>
			<helper_license>app/code/community/Fishpig/Wordpress/Addon/Multisite/Helper/License.php</helper_license>
			<block_license>app/code/community/Fishpig/Wordpress/Addon/Multisite/Block/System/Config/Form/Field/License.php</block_license>
		</encode>
	</fishpig>
</config>
