<?xml version="1.0"?>
<config>
    <modules>
        <SDW_CustomerAttribute>
            <version>0.1.0</version>
        </SDW_CustomerAttribute>
    </modules>
	 <admin>
        <fieldsets>
            <customer_dataflow>
                <genre><billing>1</billing><shipping>1</shipping></genre>
				<sociale><billing>1</billing><shipping>1</shipping></sociale>
                <etage><billing>1</billing><shipping>1</shipping></etage>
                <batiment><billing>1</billing><shipping>1</shipping></batiment>
                <interphone><billing>1</billing><shipping>1</shipping></interphone>
                <porte><billing>1</billing><shipping>1</shipping></porte>
                <message><billing>1</billing><shipping>1</shipping></message>
            </customer_dataflow>
        </fieldsets>
    </admin>
    <global>
        <!-- Declaration du helper -->
        <helpers>
            <customerattribute>
                <class>SDW_CustomerAttribute_Helper</class>
            </customerattribute>
        </helpers>
        <!-- Connexion a la base de donnees -->
        <resources>
            <customerattribute_setup>
                <setup>
                    <module>SDW_CustomerAttribute</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection><use>core_setup</use></connection>
            </customerattribute_setup>
        </resources>
		<fieldsets>
			<sales_copy_order_billing_address>
                <genre><to_order>*</to_order></genre>
                <sociale><to_order>*</to_order></sociale>
                <etage><to_order>*</to_order></etage>
                <batiment><to_order>*</to_order></batiment>
                <interphone><to_order>*</to_order></interphone>
                <porte><to_order>*</to_order></porte>
                <message><to_order>*</to_order></message>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <genre><to_order>*</to_order></genre>
				<sociale><to_order>*</to_order></sociale>
                <etage><to_order>*</to_order></etage>
                <batiment><to_order>*</to_order></batiment>
                <interphone><to_order>*</to_order></interphone>
                <porte><to_order>*</to_order></porte>
                <message><to_order>*</to_order></message>
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <genre><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></genre>
				<sociale><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></sociale>
                <etage><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></etage>
                <batiment><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></batiment>
                <interphone><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></interphone>
                <porte><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></porte>
                <message><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></message>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <genre><to_quote_address>*</to_quote_address></genre>
				<sociale><to_quote_address>*</to_quote_address></sociale>
                <etage><to_quote_address>*</to_quote_address></etage>
                <batiment><to_quote_address>*</to_quote_address></batiment>
                <interphone><to_quote_address>*</to_quote_address></interphone>
                <porte><to_quote_address>*</to_quote_address></porte>
                <message><to_quote_address>*</to_quote_address></message>
            </sales_convert_order_address>
            <customer_address>
                <genre><to_quote_address>*</to_quote_address></genre>
				<sociale><to_quote_address>*</to_quote_address></sociale>
                <etage><to_quote_address>*</to_quote_address></etage>
                <batiment><to_quote_address>*</to_quote_address></batiment>
                <interphone><to_quote_address>*</to_quote_address></interphone>
                <porte><to_quote_address>*</to_quote_address></porte>
                <message><to_quote_address>*</to_quote_address></message>
            </customer_address>
            <checkout_onepage_billing>
                <genre><to_customer>*</to_customer></genre>
				<sociale><to_customer>*</to_customer></sociale>
                <etage><to_customer>*</to_customer></etage>
                <batiment><to_customer>*</to_customer></batiment>
                <interphone><to_customer>*</to_customer></interphone>
                <porte><to_customer>*</to_customer></porte>
                <message><to_customer>*</to_customer></message>
            </checkout_onepage_billing>
		</fieldsets>
    </global>
</config>