<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Sarbacane
 * @package     Sarbacane_Sarbacanedesktop
 * @author      Sarbacane Software <contact@sarbacane.com>
 * @copyright   2015 Sarbacane Software
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
	<modules>
		<Sarbacane_Sarbacanedesktop>
			<version>1.0.0.7</version>
		</Sarbacane_Sarbacanedesktop>
	</modules>
	<frontend>
		<routers>
			<sarbacanedesktop>
				<use>standard</use>
				<args>
					<module>Sarbacane_Sarbacanedesktop</module>
					<frontName>sarbacanedesktop</frontName>
				</args>
			</sarbacanedesktop>
		</routers>
		<!--
		<layout>
			<updates>
				<sarbacanedesktop>
					<file>sarbacanedesktop.xml</file>
				</sarbacanedesktop>
			</updates>
		</layout>
		-->
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<sarbacanedesktop before="Mage_Adminhtml">Sarbacane_Sarbacanedesktop_Adminhtml</sarbacanedesktop>
					</modules>
				</args>
			</adminhtml>
		</routers>
		<!--
		<routers>
			<sarbacanedesktop>
				<use>admin</use>
				<args>
					<module>Sarbacane_Sarbacanedesktop</module>
					<frontName>sarbacanedesktop</frontName>
				</args>
			</sarbacanedesktop>
		</routers>
		-->
	</admin>
	<adminhtml>
		<menu>
			<newsletter>
				<children>
					<items module="sarbacanedesktop" translate="title">
						<title>Sarbacane Desktop</title>
						<sort_order>120</sort_order>
						<action>adminhtml/sarbacanedesktop</action>
					</items>
				</children>
			</newsletter>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<newsletter>
							<children>
								<sarbacanedesktop translate="title">
									<title>Sarbacane Desktop</title>
									<sort_order>120</sort_order>
								</sarbacanedesktop>
							</children>
						</newsletter>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<sarbacanedesktop>
					<file>sarbacanedesktop.xml</file>
				</sarbacanedesktop>
			</updates>
		</layout>
		<translate>
			<modules>
				<Sarbacane_Sarbacanedesktop>
					<files>
						<default>Sarbacane_Sarbacanedesktop.csv</default>
					</files>
				</Sarbacane_Sarbacanedesktop>
			</modules>
		</translate>
	</adminhtml>
	<global>
		<helpers>
			<sarbacanedesktop>
				<class>Sarbacane_Sarbacanedesktop_Helper</class>
			</sarbacanedesktop>
		</helpers>
		<blocks>
			<sarbacanedesktop>
				<class>Sarbacane_Sarbacanedesktop_Block</class>
			</sarbacanedesktop>
		</blocks>
		<resources>
			<sarbacanedesktop_setup>
				<setup>
					<module>Sarbacane_Sarbacanedesktop</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</sarbacanedesktop_setup>
			<sarbacanedesktop_write>
				<connection>
					<use>core_write</use>
				</connection>
			</sarbacanedesktop_write>
			<sarbacanedesktop_read>
				<connection>
					<use>core_read</use>
				</connection>
			</sarbacanedesktop_read>
		</resources>
	</global>
</config>