<?xml version="1.0"?>
<config>
    <modules>
        <SDW_Pricehistory>
            <version>0.1.0</version>
        </SDW_Pricehistory>
    </modules>
    <global>
        <blocks>
            <pricehistory>
                <class>SDW_Pricehistory_Block</class>
            </pricehistory>
        </blocks>
        <models>
            <pricehistory>
                <class>SDW_Pricehistory_Model</class>
            </pricehistory>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <pricehistory>
                    <file>pricehistory.xml</file>
                </pricehistory>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <sdw_save_product_data>
                        <type>singleton</type>
                        <class>pricehistory/observer</class>
                        <method>saveProductTabData</method>
                    </sdw_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
</config>